/* Globales */

$blanco: #ffffff;
$oscuro: #212121;
$primario: #ffc107;
$secundario: #0097a7;
$gris: #757575;
$grisClaro: #DFE9F3;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Box Model goood*/
    scroll-snap-type: y mandatory;
}

  *, *:before, *:after {
      box-sizing: inherit;
  }

body {
    font-size: 16px;
    /** 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, $grisClaro 0%, $blanco 100%);
}

/* Hero */
body {
    .hero {
        background-image: url(img/estudioelpie3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
        margin-bottom: 2rem;
    }

    .hero2 {
        background-image: url(img/equipos1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
        margin-bottom: 2rem;
    }

    .hero3 {
        background-image: url(img/teletronix.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
        margin-bottom: 2rem;
    }

    .hero4 {
        background-image: url(img/discos.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        position: relative;
        margin-bottom: 2rem;
    }
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: $secundario;
    color: $blanco;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.43);
    background-color: $blanco;
    padding: 2rem;
    border-radius: 1rem;
}


/* Tipografia */

h1 {
    font-size: 3.8rem;
    text-align: center;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2 {
    font-size: 2.8rem;
    text-align: center;

}

h3 {
    font-size: 1.8rem;
    text-align: center;

}

h1,
h2,
h3 {
    text-align: center;

}

p {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/** utilidades **/

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* titulos */

.titulo span {

    font-size: 2rem;
    font-family: cursive
}



.nav-bg {
    background-color: #36454F
}



/* Navegacion Principal */

.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: $blanco;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: $secundario;
    color: $oscuro;
    text-decoration: none;
}

.contenido-hero {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: $blanco;
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9rem;

}

.servicio h3 {
    color: $secundario;
    font-weight: normal;
    font-size: 2.2rem;
}

.servicio p {
    line-height: 2;
    text-align: center;

}

.servicio .iconos {
    transform: scale(1.0);
    /* transform*/
    height: 15rem;
    width: 15rem;
    background-color: $primario;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/** contacto **/
.formulario {
    background-color: $gris;
    width: min(60rem);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $primario;

}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1 / 3;
}



.campo {
    margin-bottom: 1rem;
}

.campo textarea {
    height: 20rem;
}

.campo label {
    color: $blanco;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}

.enviar .boton {
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.mapa {
    display: flex;
    border-radius: 1rem;
    background-color: $gris;
    margin-left: auto;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.carousel-inner {
    width: 100%;
    height: 50vh;
}

.texto__grande {
    font-size: 3rem;
}

.texto__buenosAires {
    font-size: 1.8rem;
}

.titulo__servicios {
    font-size: 3.5rem;
    font-family: fantasy;
}

.boton {
    width: auto;
}

.formulario {
    background-color: $gris;
    width: min(60rem);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat 1fr;
        column-gap: 1rem;
    }
}

// Servicios
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .navegacion-principal {
        display: flex;
        flex-direction: column;
    }

    .w-100 {
        width: auto;
    }

    .servicios {
        display: flex;
        flex-direction: column;
    }


    .formulario {
        width: 90%;
        margin: auto;

        .contenedor-campos {
            display: flex;
            flex-direction: column;
        }
    }
}